#header {
    width: 100%;
    height: 65px;
    background: rgb(13, 6, 53);
    color: white;
    position: fixed;
    top: 0 ;
    left: 0;
    z-index: 100;
  }
  
  .main-header{
    width: 98%;
    margin: 0 auto;
  }
  
  .main-header img {
    width: 63px;
    float: left;
  }
  
  
  #menu-bar{
    display: none;
  }
  
  
  
  #header label {
    float: right;
    font-size: 30px;
    margin: 15px 5px;
    cursor: pointer;
  }
  
  .menu {
    position: absolute;
    top: 65px;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(22, 17, 68, 0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
  }
  
  .menu a {
    display: block;
    color:white;
    text-transform: uppercase;
    height: 65px;
    text-decoration: none;
    font-size: 25px;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255,255,0.5);
  }
  
  .menu a:hover{
    background: rgba(255, 255,255,0.3);;
  }
  
  
  #header .main-header {
    display:table; /*limpia la flotacion */
  }
  
  #menu-bar:checked ~ .menu {
    transform: translateX(0%);
  }