@import url(menu.css);
@import url(footer.css);



@font-face {
  font-family: "grendel";
  src: url("../fuentes/grendel.ttf");
}



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }


body {
  font-family: grendel;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  background-image: url("../img/fondo.jpg");
}

.container{
  width: 100%;
}
.contenido
{
  max-width: 1000px;
  width: 100%;
  margin: 125px auto;
  height: 70vh;
}

#content-all{
  background: rgb(13, 6, 53, 0.9);
  background-size: 100% auto;
  box-sizing: border-box;
  position: relative;
}

#content-header{
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;
  border: 2px dashed white;
}

#content-footer{
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  padding: 30px 50px;
}

#cont{
  overflow: hidden;
  position: relative;
  list-style-type: none;  
  display: block;
}


.foto{
    border: 1px dashed white;
    text-align: center;
}

#menu{
    border: 2px solid black;
    list-style-type: none;
}

#info{
  list-style-type: none;
}

@media only screen and (max-width: 320px){
    #content-all{
        width: 100%;
        height: 500px;
      }
      #content-header{
        height: 7vh;
        font-size: 15px;
        text-align: center;
        padding: 4px;
    }
    #cont{
        width: 90%;
        height: 90%;
        border: 2px dashed black;
        padding: 5%;
        margin: 0 auto;
        margin-top: 5px;
    }


    .foto{
        width: 45%;
        height: 20vh;
        float: left;
    }

    #menu{
      width: 45%;
      background-color: lightgray;
      margin-left: 130px;
      height: 30vh;
      font-size: 15px;
    }
    #info{
      width: 90%;
      background-color: lightgray;
      margin: 0 auto;
      margin-top: 10px;
      height: 40vh;
      color: black;
    }
}

@media only screen and (max-width: 410px){
  #content-all{
      width: 100%;
      height: 500px;
    }
    #content-header{
      height: 7vh;
      font-size: 15px;
      text-align: center;
      padding: 4px;
  }
  #cont{
      width: 90%;
      height: 90%;
      border: 2px dashed black;
      padding: 5%;
      margin: 0 auto;
      margin-top: 5px;
      display: inline-block;
      position: absolute;
  }

  .foto{
      width: 35%;
      height: 20vh;
    
  }

  #menu{
    width: 50%;
    background-color: lightgray;
    margin-left: 150px;
    height: 30vh;
    font-size: 15px;
    bottom: 50px;
    right: 5px;
  }
  #info{
    width: 90%;
    background-color: lightgray;
    margin: 0 auto;
    margin-top: 10px;
    height: 40vh;
    color: black;
  }
}


