@font-face {
  font-family: "grendel";
  src: url("../fuentes/grendel.ttf");
}




body{
  background-color: black;
  margin: 0 ;
    font-family: grendel;
  }


.container {
  margin: 0 auto;
  position: relative;
  max-height: 1180px;
}


/* HEADER */

.header{

margin: 0 auto;
overflow: hidden;
background: linear-gradient(#1D2896, #741CB0);
}

.header img{
  float: left;
  width: 50px;
  display: block;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

.header ul{
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}


.header ul li{
  margin-left:10px;
  margin-right: 10px;
  border: 2px solid white;
  list-style: none;
  float: right;
  background-color: red;
}

.header ul li a{
  padding : 5px 10px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;

}


.header .menu {
  display: flex;
  justify-content: center;
  margin-left:300px;

}

.header .menu ul {
  display: block;
  margin: 0 auto;
}

/* BLOQUE IMAGEN DERCHA */

.derecha{
  float: left;

}

.derecha img{
  width: 450px;
}


/* BLOQUE IMAGEN IZQUIERDA */

.izquierda{

  float: right;
}

.izquierda img {
  width: 450px;
}

/* CONTENIDO */

.contenido{
  width: 750px;
  height: 1000px;
  position: relative;
  margin: 0 auto;
  margin-top:150px;
  border: 3px solid red;
  border-radius: 20px;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.contenido .titulo  h1 {
  font-size: 70px;
  margin: 0 auto;
  text-align: center;
  font-family: grendel;
  text-transform:uppercase;
  color: transparent;
  background-image: url("https://media.giphy.com/media/xUPGcyTe2I8FvXy9EI/giphy.gif");
  -webkit-background-clip:text;
}



/*CONTENIDO DE FORMULARIO */

.contenido .formulario{
  position: relative;
  margin: 0 auto;
  border-radius: 30px;
  width: 650px;
  height: 750px;
  display: flex;
  text-align: center;
  flex-direction: column;
  background-image: url("https://media.giphy.com/media/FPlzp50M94WFW/giphy.gif");
  background-size: 100% 100%;
}


.contenido .formulario .formulario-container{
  width: 500px;
  height: 600px;
  margin: 0 auto;

}

.contenido .formulario .formulario-container h2{
  font-size:50px;
  color:white;
  text-decoration: underline;
}



.contenido .formulario .formulario-container .formulario-edad p {
  color: white;
  font-size: 20px;
}

.contenido .formulario .formulario-container .formulario-edad .block-display-edad {
  display: flex;
  justify-content: center;
  flex-direction: row;
}


.contenido .formulario .formulario-container label{
  font-size: 25px;
  color:white;
}

.contenido .formulario .formulario-container input{
  width: 250px;
  height: 30px;
  text-align: center;
}


.contenido .formulario .formulario-container .formulario-edad .block-display-edad  .formulario-mes{
  margin-left: 10px;
  margin-right: 10px;
}


.contenido .formulario .formulario-container .formulario-edad .block-display-edad  .formulario-dia{
  margin-left: 10px;
  margin-right: 10px;
}


.contenido .formulario .formulario-container .formulario-edad .block-display-edad  .formulario-año{
  margin-left: 10px;
  margin-right: 10px;
}

.contenido .formulario .formulario-container .formulario-edad .block-display-edad  select{
  width: 80px;
  min-height:25px;
}

.contenido .formulario .formulario-container .formulario-button{
  margin-top: 80px;
}

.contenido .formulario .formulario-container .formulario-button button {
  border: none;
  background:none;
  padding: 15px 15px;
  color: white;
  font-size: 40px;
  text-decoration: underline;
}



.contenido .formulario .formulario-container  .terminos{
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contenido .formulario .formulario-container  .terminos p {
  color: white;
  margin: 0 auto;
}

.contenido .formulario .formulario-container  .terminos a {
  color :red;
  text-decoration: none;
}
/* FOOTER */

.container .main-footer {
  border-top: 2px solid white;
  margin-top :100px;
  border-bottom: 2px solid white;
  height: 150px;
  background-color: red;
}


.container .main-footer img{
  width: 100px;
  float: left;
  margin-top: 25px;
  margin-left: 10px;
}


.container .main-footer  .block-footer  {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}



.container .main-footer  .block-footer  ul  {
  margin-top:30px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
}

.container .main-footer  .block-footer  ul li   {
  margin-left: 30px;
  margin-right: 30px;
  list-style: none;
}

.container .main-footer  .block-footer  ul li a {
  color:white;
  font-size: 20px;
}


.container .main-footer  .block-footer-final  {
  width: 500px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}



.container .main-footer   .block-footer-final  ul  {
  margin-top:30px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
}

.container .main-footer    .block-footer-final  ul li   {
  margin-left: 30px;
  margin-right: 30px;
  list-style: none;
}

.container .main-footer  .block-footer-final  ul li a {
  color:white;
  font-size: 20px;
}




/* MEDIAS QUERIES */

/* PHONES */
@media (min-width: 480.98px) {

    .derecha img{
      width: 0px;
    }

    .izquierda img {
      width: 0px;
    }

    .container .main-footer {
      border-top: 2px solid white;
      width: 100%;
      margin-top :100px;
      border-bottom: 2px solid white;
      height: 150px;
      background-color: red;
    }

    .container .main-footer  .block-footer  {
      margin: 0 auto;
      
    }


}


/* PHONES */
@media (max-width: 767.98px) {
  }


/* TABLES */

@media (max-width: 991.98px) {

}










/* DESKTOP */

@media (min-width: 1200px) {

  body{
    background-color: black;
    margin: 0 ;
    font-family: grendel;
    max-width: 100%;
    }


  .container {
    margin: 0 auto;
  }


  /* HEADER */

  .header{
  margin: 0 auto;
  overflow: hidden;
  background: linear-gradient(#1D2896, #741CB0);
  }

  .header img{
    float: left;
    width: 50px;
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .header ul{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }


  .header ul li{
    margin-left:10px;
    margin-right: 10px;
    border: 2px solid white;
    list-style: none;
    float: right;
    background-color: red;
  }

  .header ul li a{
    padding : 5px 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;

  }


  .header .menu {
    display: flex;
    justify-content: center;


  }

  .header .menu ul {
    display: block;
    margin: 0 auto;
  }

  /* BLOQUE IMAGEN DERCHA */

  .derecha{
    float: left;
  }

  .derecha img{
    width: 250px;
  }


  /* BLOQUE IMAGEN IZQUIERDA */

  .izquierda{
    float: right;
  }

  .izquierda img {
    width: 250px;
  }

  /* CONTENIDO */

  .contenido{
    width: 650px;
    height: 1000px;
    position: relative;
    margin: 0 auto;
    margin-top:80px;
    border: 3px solid red;
    border-radius: 20px;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }


  .contenido .titulo  h1 {
    font-size: 60px;
    margin: 0 auto;
    text-align: center;
    font-family: grendel;
    text-transform:uppercase;
    color: transparent;
    background-image: url("https://media.giphy.com/media/xUPGcyTe2I8FvXy9EI/giphy.gif");
    -webkit-background-clip:text;
  }

}


@media (min-width: 1400px) {


  .derecha img{
    width: 350px;
  }


  .izquierda img{
    width: 350px;
  }
}
