@font-face
{
  font-family: "grendel";
  src: url("../fuentes/grendel.ttf");
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }

body
{
  font-family: grendel;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  background-image: url("../img/fondo.jpg");
}

.container
{
  width: 100%;
}
.contenido
{
  max-width: 1000px;
  width: 100%;
  margin: 125px auto;
}
#content-all
{
  background-color: red;
  background-size: 100% auto;
  min-height: 140px;
}
#content-header
{
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;
}
#content-footer
{
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  padding: 30px 50px;
}
section
{
  display: block;
}
h2
{
  font-size: 50px;
  width: 100%;
  text-align: center;
  color: #a9a87f;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.activo
{
    text-shadow: 1px 0px 20px;
}
