body{
  margin: 0;
  padding: 0;
  background-image: url("https://ksr-ugc.imgix.net/assets/005/549/131/e2dd49a185706db2a3fd267125783223_original.png?ixlib=rb-2.1.0&w=700&fit=max&v=1458234136&auto=format&frame=1&q=92&s=8790ae0e4fec961bea104b78f8f1b361");
  background-position: fixed;
  background-size:100% 100%;
  max-width: 1180px;
}

/* CABEZERA*/

.container{
  width: 1180px;
}


.cabezera{
overflow: hidden;
background: linear-gradient(#1D2896, #741CB0);
}

.cabezera img{
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  width: 50px;
}

.cabezera ul{
  float: right;
}


.cabezera ul li{
  margin-left:10px;
  margin-right: 10px;
  border: 1px solid black;
  list-style: none;
  float: right;
  background-color: red;
}

.cabezera ul li a{
  padding : 5px 10px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;

}






/* BANNER */

 .banner {
  margin: 0 auto;
  margin-top: 50px;
  width: 90%;
  height: 400px;
  border: 3px solid #A19CA1 ;
  border-radius: 15px;
  background-size: 100% 100%;
  animation: banner 10s infinite;

}

  @keyframes banner {
    0%,30%{
      background-image: url("../img/imagen-uno.jpg");
      opacity: 1;
    }
    31%,34%{
      opacity: 0.1;
    }
  35%,65%{
      background-image: url("../img/imagen-tres.jpg");
      opacity: 1;
    }
    66%,69%{
      opacity: 0.1;
    }
    70%,100%{
      background-image: url("../img/imagen-dos.jpg");
      opacity: 1;
    }

  }

/* MAIN-CONTENIDO */

  .main-contenido{
  width:960px;
  height:500px;
  margin:0 auto;
  display: flex;
  justify-content: center;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.main-contenido .block-menu{
  width:920px;
  display: flex;
  flex-direction: row;
}
/*  MENU */

.main-contenido .block-menu .block-incio{
  width:720px;
  position: absolute;
  margin: 0 auto;
}

.main-contenido .block-menu .block-incio ul{
  display: flex;
  flex-direction: row;
  margin-top:50px;
  background-color: red;
  border: 3px solid black;
  border-radius: 10px;
}

.main-contenido .block-menu .block-incio ul li{
  list-style: none;
  border: 1px solid red;
  margin-left: 23px;
  margin-right: 23PX;
}

.main-contenido .block-menu .block-incio ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 30px;
}

/* LINK */

.main-contenido .block-menu .block-link{
  margin: 0 auto;
  width: 920px;
  position: absolute;
}

.main-contenido .block-menu .block-link .link{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-top: 30px;
}


.main-contenido .block-menu .block-link .link a{
  padding:20px 50px;
  border: 3px solid black;
  background-color: red;
  text-decoration: none;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
}
