@import url(menu.css); 
@import url(footer.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: grendel;
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: auto;
  }
  
  .container {
    width: 100%;
   }
  