@import url(menu.css);
@import url(footer.css);

@font-face {
  font-family: "grendel";
  src: url("../fuentes/grendel.ttf");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
}

.fondo-principal {
  position: absolute;
}

.contenido {
  position: relative;
}

.formulario {
  width: 100%;
  margin: 0 auto;
  
  background-size: 100% 100%;
  display:flex;
  text-align: center;
  flex-direction: column;
}



.subtitulo { 
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
  text-align: center;
  font-size:30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: transparent;
  background-image: url("https://media.giphy.com/media/xUPGcyTe2I8FvXy9EI/giphy.gif");
    -webkit-background-clip:text;
}



.formulario-container{
  background-image: url("https://media.giphy.com/media/FPlzp50M94WFW/giphy.gif");
  
  width: 40%;
  margin-top: 80px;
  margin-left:30%;
  border-radius: 10px;
}

.name{
  color: thistle;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 23px;
  }
  
  .mail{
    color: thistle;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 23px;
  }
  
  .message {
    color: thistle;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 23px;
  }
  
  #message {
    font-family: Arial, Helvetica, sans-serif;
  }

input{
width: 250px;
height: 30px;
text-align: left;
}


.formulario-button {
margin-top: 50px;
}

button{
  margin-bottom: 10%;
  padding:15px 15px;  
  border:2 white;
  color: black;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}

#footer {
  padding-top: 10px;
}

.block-footer {
  padding-top: 18px;
  
}

a{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
}