@font-face {
  font-family: "grendel";
  src: url("../fuentes/grendel.ttf");
}




body{
  background-color: black;
  margin: 0 ;
    font-family: grendel;
  }


.container {
  margin: 0 auto;
  position: relative;
  max-height: 1180px;
}


/* HEADER */


  .header{
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  background: linear-gradient(#1D2896, #741CB0);
  }

.header .logo img {
  width: 80px;
}

.header .menu {
  margin-left: auto;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .menu ul {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header .menu ul li {
margin-left: 55px;
margin-right: 55px;
list-style: none;
}

.header .menu ul li a {
  text-decoration: none;
  color: white;
  padding :10px 20px;
  background-color: red;
  border : 2px solid black;
  text-transform: uppercase;
}


.header .usuario {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header .usuario ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header .usuario ul li {
  list-style:   none;
  margin-left: 30px;
  margin-right: 30px;
}

.header .usuario ul li a {
  text-decoration: none;
  color: white;
  padding:10px 20px;
  border: 2px solid black;
  background-color: red;
}

/* BLOQUE IMAGEN DERCHA */

.derecha{
  float: left;

}

.derecha img{
  width: 450px;
}


/* BLOQUE IMAGEN IZQUIERDA */

.izquierda{

  float: right;
}

.izquierda img {
  width: 450px;
}

/* CONTENIDO */

.contenido{
  width: 750px;
  height: 1000px;
  position: relative;
  margin: 0 auto;
  margin-top:150px;
  border: 3px solid red;
  border-radius: 20px;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.contenido .titulo  h1 {
  font-size: 70px;
  margin: 0 auto;
  text-align: center;
  font-family: grendel;
  text-transform:uppercase;
  color: transparent;
  background-image: url("https://media.giphy.com/media/xUPGcyTe2I8FvXy9EI/giphy.gif");
  -webkit-background-clip:text;
}



/*CONTENIDO DE FORMULARIO */

.contenido .formulario{
  position: relative;
  margin: 0 auto;
  border-radius: 30px;
  width: 650px;
  height: 750px;
  display: flex;
  text-align: center;
  flex-direction: column;
  background-image: url("https://media.giphy.com/media/FPlzp50M94WFW/giphy.gif");
  background-size: 100% 100%;
}


.contenido .formulario .formulario-container{
  width: 500px;
  height: 750px;
  margin: 0 auto;
  margin-top: 80px;


}

.contenido .formulario .formulario-container h2{
  font-size:50px;
  color:white;
  text-decoration: underline;
}


/* lOGIN  PLATAFORMAS */

.contenido .formulario .formulario-container .login-plataformas{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}


/* LOGIN FACEBOOK */
.contenido .formulario .formulario-container .login-plataformas .login-facebook{
  background-color: blue;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 10px;
}

.contenido .formulario .formulario-container .login-plataformas .login-facebook .icono-facebook{
  border-right:  2px solid black;
  margin: 0 auto;
}


.contenido .formulario .formulario-container .login-plataformas .login-facebook .icono-facebook .fab {
  font-size: 40px;
  margin: 5px;
  color: white;
}


.contenido .formulario .formulario-container .login-plataformas .login-facebook .texto-facebook {

}

.contenido .formulario .formulario-container .login-plataformas .login-facebook .texto-facebook p {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px;
}



.contenido .formulario .formulario-container .login-plataformas{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}


/* LOGIN FACEBOOK */
.contenido .formulario .formulario-container .login-plataformas .login-facebook{
  background-color: blue;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 10px;
}

.contenido .formulario .formulario-container .login-plataformas .login-facebook .icono-facebook{
  border-right:  2px solid black;
  margin: 0 auto;
}


.contenido .formulario .formulario-container .login-plataformas .login-facebook .icono-facebook .fab {
  font-size: 40px;
  margin: 5px;
  color: white;
}


.contenido .formulario .formulario-container .login-plataformas .login-facebook .texto-facebook {

}

.contenido .formulario .formulario-container .login-plataformas .login-facebook .texto-facebook p {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px;
}
/* LOGIN STEAM */

.contenido .formulario .formulario-container .login-plataformas .login-steam{
  background-color: black;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 10px;
}

.contenido .formulario .formulario-container .login-plataformas .login-steam .icono-steam{
  border-right:  2px solid black;
  margin: 0 auto;
}


.contenido .formulario .formulario-container .login-plataformas .login-steam .icono-steam .fab {
  font-size: 40px;
  margin: 5px;
  color: white;
}


.contenido .formulario .formulario-container .login-plataformas .login-steam .texto-steam {
  margin-left: 12px;
  margin-right: 12px;
}

.contenido .formulario .formulario-container .login-plataformas .login-steam .texto-steam p {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px;
}


/*FORMULARIO */

.contenido .formulario .formulario-container label{
  font-size: 30px;
  color:white;
}

.contenido .formulario .formulario-container input{
  width: 250px;
  height: 30px;
  text-align: center;
}



.contenido .formulario .formulario-container .formulario-button{
  margin-top: 50px;
}

.contenido .formulario .formulario-container .formulario-button button {
  border: none;
  background:none;
  padding: 15px 15px;
  color: white;
  font-size: 40px;
  text-decoration: underline;
}



.contenido .formulario .formulario-container  .terminos{
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contenido .formulario .formulario-container  .terminos p {
  color: white;
  margin: 0 auto;
}

.contenido .formulario .formulario-container  .terminos a {
  color :red;
  text-decoration: none;
}
/* FOOTER */


.main-footer {
  background-color: red;
  margin: 0 auto;
  margin-top: 30px;
  width: 950px;
  display: flex;
  position: relative;
}


.main-footer .logo img {
  width: 100px;
}


.footer-container {
  display: flex;
  flex-direction: column;
}


.footer-container .block-footer {
  display: flex;
  justify-content: center;
  margin:  0 auto;
}
.footer-container .block-footer ul {
  display: flex;
  flex-direction: row;
  margin-top: 20px ;
}

.footer-container .block-footer ul  li {
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
}

.footer-container .block-footer ul  li  a {
  padding-left:10px;
  padding-right: 10px;
  color: white;
  text-decoration: none;
  background-color: red;
}


.footer-container .block-footer-final {
  display flex;
  justify-content: center;
  margin: 0 auto;
}

.footer-container .block-footer-final ul {
  display:flex;
  flex-direction: row;
}


.footer-container .block-footer-final ul li  {
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
}

.footer-container .block-footer-final ul li a  {
  padding-left:10px;
  padding-right: 10px;
  color: white;
  text-decoration: none;
  background-color: red;
}
